.login_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 1rem;
    text-align: center;
}
.log_head{
    margin-bottom:2rem;
}
.log_title{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}