.reg_head{
    margin-bottom:2rem;
    margin-top: 1rem;
}
.reg_title{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 1rem;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .reg_head{
        margin-bottom:2rem;
        margin-top: 10rem;
    }
  }